{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Syne">
    <link href="{{ asset('css/homeIndex.css') }}" rel='stylesheet' >
{% endblock %}
{% block body %}
    <div class="header">
        <img class="habillage" src="{{ asset('img/header.png') }}" alt=""/>
    </div>
    <div class="about">
        <div class="text">
            <div class="text_roc">
                <h1>À propos du club</h1>
                <p>Le ROC (Rugby Olympique Charleville) a son école de rugby labellisée FRR depuis le 1/07/2019.</p>
                <a class="button" href="{{ path('app_home_moreAboutEDR') }}"><img src="{{ asset('img/Sans titre-4.png') }}"/></a>
            </div>
        </div>
        <div class="images">
            <img src="{{ asset('img/ffrlabel1etoile.png') }}" alt="étoile ffr"/>
        </div>
    </div>
    <img class="habillage" src="{{ asset('img/middle.png') }}"/>
    <div class="about">
        <div class="text">
            <div class="text_ardennes">
                <h1>À propos du groupe compétiton</h1>
                <p>Les -14 et son groupe compétition (U16, U19 et séniors) sont regroupé sous les couleurs de l’entente Ardennes.</p>
                <a class="button" href=""><img src="{{ asset('img/Sans titre-1.png') }}"/></a>
            </div>
        </div>
        <div class="images">
            <img src="{{ asset('img/logoArdennes.png') }}"/>
        </div>
    </div>







{% endblock %}
